@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Poori website ki body ko light background dene ke liye */
body {
  background-color: #f8fafc; /* Light gray/white shade */
  color: #0f172a; /* Dark text for readability */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}